<h3>グラフデータ</h3>
    <%= link_to '閉じる', user_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to '編集する', edit_observation_path(@observation) %>


<table border="1" cellspacing="0" cellpadding="5" bordercolor="#333333">
<tr>
<th bgcolor="#CCCCFF" ><font size="+1" color="#000000">測定時刻</font></th>
<th bgcolor="#FFFFFF" width="150"><font size="+1" color="#000000">1/15 10:00</font></th>
<th bgcolor="#FFFFFF" width="150"><font size="+1" color="#000000">1/15 19:00</font></th>
<th bgcolor="#FFFFFF" width="150"><font size="+1" color="#000000">1/16 6:00</font></th>
<th bgcolor="#FFFFFF" width="150"><font size="+1" color="#000000">1/16 10:00</font></th>
<th bgcolor="#FFFFFF" width="150"><font size="+1" color="#000000">1/16 19:00</font></th>
<th bgcolor="#FFFFFF" width="150"><font size="+1" color="#000000">1/17 6:00</font></th>

</tr>
<tr>
<td bgcolor="#CCCCFF" align="center" nowrap><font size="+1" color="#000000">心拍数</font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_bp %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_bp %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_bp %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_kt %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_kt %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_kt %></font></td>
</tr>
<tr>
<td bgcolor="#CCCCFF" align="center" nowrap><font size="+1" color="#000000">非観血(収縮期)</font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_p %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_p %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_p %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_r %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_r %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_r %></font></td>
</tr>
<tr>
<td bgcolor="#CCCCFF" align="center" nowrap><font size="+1" color="#000000">非観血(拡張期)</td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_o2root %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_o2root %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_o2root %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_o2rate %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_o2rate %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_o2rate %></font></td>
</tr>
<tr>
<td bgcolor="#CCCCFF" align="center" nowrap><font size="+1" color="#000000">体温(表皮)</font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_meal %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_meal %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_meal %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_snack %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_snack %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_snack %></font></td>
</tr>
<tr>
<td bgcolor="#CCCCFF" align="center" nowrap><font size="+1" color="#000000">呼吸数</font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_spo2 %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_spo2 %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_spo2 %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.m_bs %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.l_bs %></font></td>
<td bgcolor="#FFFFFF" valign="top" width="150"><font size="+1" color="#000000"><%= @observation.d_bs %></font></td>
</tr>
</table>

