
<p id="notice"><%= notice %></p>

<p>
  <b>Plan ID:</b>
  <%= @book.plan.id %>
</p>

<p><b>sihyou1:</b> <%= @book.sihyou1 %></p>
<p><b>sihyou2:</b> <%= @book.sihyou2 %></p>
<p><b>sihyou3:</b> <%= @book.sihyou3 %></p>

<p><b>kanren1:</b> <%= @book.kanren1 %></p>
<p><b>kanren2:</b> <%= @book.kanren2 %></p>
<p><b>kanren3:</b> <%= @book.kanren3 %></p>

<p><b>endpoint1:</b> <%= @book.endpoint1 %></p>
<p><b>endpoint2:</b> <%= @book.endpoint2 %></p>
<p><b>endpoint3:</b> <%= @book.endpoint3 %></p>


<p><b>nno01:</b> <%= @book.nno01 %><b>nplan01:</b><%= @book.nplan01 %></p>
<p><b>nno02:</b> <%= @book.nno02 %><b>nplan02:</b><%= @book.nplan02 %></p>
<p><b>nno03:</b> <%= @book.nno03 %><b>nplan03:</b><%= @book.nplan03 %></p>
<p><b>nno04:</b> <%= @book.nno04 %><b>nplan04:</b><%= @book.nplan04 %></p>
<p><b>nno20:</b> <%= @book.nno20 %><b>nplan20:</b><%= @book.nplan20 %></p>


<%= link_to 'Edit', edit_book_path %>



