
    <style>
      .row div {
        
        padding: 1em;
        text-align: center;
        }
    </style>

<div class="page-header">
      <div class="boxContainer">
      <div class="row">
        <div class="headbox01">入院 病棟<br>緩和ケア</div>
        <div class="headbox02">
          <p class="sample1">ID : <%= @user.id %><br>
        ②後期　本人（30%）</p>
        </div>
        
        <div class="headbox03">
          <% if @user.gender == '男' %>
          <%= image_tag 'men.png', :size => '100x50', :style=>"float:left;" %><br>
          <% else %>
          <%= image_tag 'women.png', :size => '100x50', :style=>"float:left;" %><br>
          <% end %>
          <font size="6"><u><%= @user.name %></u></font></div>
        <div class="headbox04">
          <% if @user.infection == '有' %>
          <%= image_tag 'alrt_y.png', :size => '40x40', :style=>"float:left;" %><br>
          <% else %>
          <%= image_tag 'alrt_n.png', :size => '40x40', :style=>"float:left;" %><br>
          <% end %>
          <%= @user.age %>歳00ヶ月    <%= @user.bloodtype %>型Rh(+)    <u><%= @user.height %>cm  <%= @user.weight %>Kg</u></div>
        <div class="headbox05">
          <p class="sample1">
          <button type="button" name="aaa" value="aaa">
          <font size="2" color="#333399">Prof</font></button><br>
          <button type="button" name="aaa" value="aaa">
          <font size="2" color="#333399">病名</font></button>
          </p></div>
<div class="headbox05">
<ul class="nav">
  <li><a href="/">カルテ<br>閉じる</a></li>

</ul>
</div>
        

        <div class="headbox01"><%= link_to '一覧に戻る',users_path, class: 'btn btn-primary btn-xs' %></div>
      </div>
    </div>
</div>

<div id="wrapper" class="clearfix">
  <div class="cover01">
  <div class="ao">一般経過表 <%= @user.name %></div>
  <% (1..3).each do |number| %>
  <h6><%= number %></h6>
  <% end %>
  </div>
  <div class="aside">
  <% (1..10).each do |number| %>
  <h5><%= number %></h5>
  <% end %>
<p>
<%= @hensu1 + @user.id %>
</p>
<p>
<%= @hensu2 + @user.id %>
</p>

  </div>
  
  <div class="cover0201">
    <% (1..10).each do |number| %>
    <h5><%= number %></h5>
    <% end %>
<img border="0" src="../images/bp_1aa.png" width="189" height="233" alt="検温表">
<a href="../observations/<%= @user.id %>"><img src="../images/bp_1a.png" border="0"></a>
<br>
<img border="0" src="../images/kenon_1bb.png" width="1198" height="1347" alt="検温表">
<br>
<img border="0" src="../images/bp_1cc.png" >
<a href="../observations/<%= @user.id %>"><img src="../images/bp_1c.png" border="0"></a>
<br>
<img border="0" src="../images/bp_1dd.png" >
<a href="../dinstructions/<%= @user.id %>"><img src="../images/bp_1d.png" border="0"></a>
<br>
<img border="0" src="../images/bp_1ee.png" >
<a href="../observations/<%= @user.id %>"><img src="../images/bp_1e.png" border="0"></a>
<br>
<img border="0" src="../images/bp_1ff.png" >
<a href="../observations/<%= @user.id %>"><img src="../images/bp_1f.png" border="0"></a>
<br>
<a href="../dreports/<%= @user.id %>"><img src="../images/folder_b.png" border="0" width="20" height="20" ></a>
<a href="../dreports/<%= @hensu1 + @user.id %>"><img src="../images/folder_b.png" border="0" width="20" height="20" ></a>
<br>
<a href="../nreports/<%= @user.id %>"><img src="../images/folder_r.png" border="0" width="20" height="20" ></a>
<a href="../nreports/<%= @hensu1 + @user.id %>"><img src="../images/folder_r.png" border="0" width="20" height="20" ></a>
<a href="../nreports/<%= @hensu2 + @user.id %>"><img src="../images/folder_r.png" border="0" width="20" height="20" ></a>
<br>
<a href="../ereports/<%= @user.id %>"><img src="../images/folder_g.png" border="0" width="20" height="20" ></a>
<a href="../ereports/<%= @hensu1 + @user.id %>"><img src="../images/folder_g.png" border="0" width="20" height="20" ></a>


  </div>
</div>

