<div class="container">
<div class="row">
<div class="col-md-12">

<table border="1" width="1100" cellspacing="0" cellpadding="5" bordercolor="#CCCCFF">
<tr>
<th bgcolor="#CCCCFF"><u>&nbsp;入院 病棟<br>&nbsp;緩和ケア</u></th>
<th bgcolor="#CCCCFF">ID: <%= @user.id %><br><u>国保30本人(30%)</u></th>
<th bgcolor="#CCCCFF">
        <% if @user.gender == '男' %>
          <%= image_tag 'men.png', :title => '男性', :size => '100x50', :style=>"float:left;" %><br>
        <% else %>
          <%= image_tag 'women.png', :title => '女性', :size => '100x50', :style=>"float:left;" %><br>
        <% end %>
</th>

<th bgcolor="#CCCCFF"><font size="6"><u>
              <ruby>
            <rb><%= @user.name %></rb>
            <rp>（</rp><rt><%= @user.kana %></rt><rp>）</rp>
            </ruby>
            </u></font></th>
            
<th bgcolor="#CCCCFF">
        <% if @user.infection == '有' %>
          <%= image_tag 'alrt_y.png', :title => '感染症：HCV(+)', :size => '40x40', :style=>"float:left;" %><br>
        <% else %>
          <%= image_tag 'alrt_n.png', :title => '感染症未確認', :size => '40x40', :style=>"float:left;" %><br>
        <% end %>
</th>
<th bgcolor="#CCCCFF">
        <% if @user.id == '3' %>
          <%= image_tag 'arg_y.png', :title => '青魚禁', :size => '40x40', :style=>"float:left;" %><br>
        <% else %>
          <%= image_tag 'arg_n.png', :size => '40x40', :style=>"float:left;" %><br>
        <% end %>
</th>
<th bgcolor="#CCCCFF"><%= @user.age %>歳00ヶ月&ensp;&ensp;&ensp;<%= @user.bloodtype %>型Rh(*)&ensp;&ensp;&ensp;<u><%= @user.height %>cm&ensp;<%= @user.weight %>Kg</u></th>
<th bgcolor="#CCCCFF">
  <a href="/profiles/<%= @user.id %>" class="btn btn-default btn-sm active" role="button">Prof</a><br>
  <a href="#" class="btn btn-default btn-sm active" role="button" disabled="disabled">病名</a>
</th>
<th bgcolor="#CCCCFF">
<a href="javascript:history.back()" class="btn btn-default btn-sm active">戻る</a></tr>
</th>
</table>

<div class="ao">&ensp;患者スケジュール</div>
<p>
  汎用ワークシート&ensp;<a href="../ninstructions/<%= @hensu2 + @user.id %>">看護指示</a>
</p>
<p>
<button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-default btn-sm">
  <span >2018/01/17</span>
</button>

<input type="radio" name="q1" value="深夜"> 深夜
<input type="radio" name="q1" value="日勤"> 日勤
<input type="radio" name="q1" value="準夜"> 準夜
<input type="radio" name="q1" value="全日"> 全日
</p>


<div role="tabpanel">

<nav aria-label="Page navigation example">
  <ul class="pagination" role="tablist">
    <li role="presentation" class="page-item active"><a href="#sch1" aria-controls="sch1" role="tab" data-toggle="tab">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;時系列一覧&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></li>
    <li role="presentation" class="page-item"><a href="#sch2" aria-controls="sch2" role="tab" data-toggle="tab">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;業務別一覧&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></li>

  </ul>
</nav>


  <!-- Tab panes -->
<div class="tab-content">
  <!-- 時系列一覧 -->
  <div role="tabpanel" class="tab-pane active" id="sch1">














  </div>
  <!-- 業務別一覧 -->
  <div role="tabpanel" class="tab-pane" id="sch2">
  </div>
</div>


</div></div></div>