
<% instructions.each do |instruction| %>
  <td> 
    <table class="table">
        <tr><td class="text-left"><%= instruction.id %></td></tr>
        <tr><td class="text-left"><%= instruction.instruct_day %></td></tr>
        <tr><td class="text-left"><%= truncate(instruction.content, :length => 10) %></td></tr>
        <tr><td class="text-left"><%= instruction.execution %></td></tr>
      
        <%= hidden_field_tag :follow_id, user.id %>
        <tr><td class="text-left">
        <%= link_to '編集', edit_instruction_path(instruction), class: 'btn btn-info btn-xs' %>
        <%= link_to "削除", instruction, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
        </td></tr>
    </table>
  </td>
<% end %>

